$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$windowed_black: rgba(0, 0, 0, 0.7);
$browned_black: rgba(20,20,20,255);
$brown: rgba(26,24,25,255);
$main_font: "Oswald";
$secondary__font: "Roboto Slab";
$normal: 0.7s all ease-in-out;
